@use 'utils' as *;

div.avatar {
  background-color: $base-color;
  display: inline-block;
  padding: 4px;
  border-radius: 100%;
}
    
div.avatar-container {
  position: relative;
  border-radius: 100%;
  width: 135px;
  height: 135px;
  overflow: hidden;

  img.avatar-container-image {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
  }
}